<div>
    <div class="video_podcasts">
        <h2> Unit 1 - Podcast Elementary 01</h2>
        <video poster="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover2large.jpg" preload="metadata" controls="controls" tabindex="0">
            <source src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2001.MP4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            Тег video не поддерживается вашим браузером. <a href="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2001.MP4">Скачайте видео</a>.
        </video>
    </div>

    <div class="video_podcasts">
        <h2> Unit 2 - Podcast Elementary 02</h2>
        <video poster="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover2large.jpg" preload="metadata" controls="controls" tabindex="0">
            <source src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2002.MP4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            Тег video не поддерживается вашим браузером. <a href="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2002.MP4">Скачайте видео</a>.
        </video>
    </div>
    <div class="video_podcasts">
        <h2> Unit 3 - Podcast Elementary 03</h2>
        <video poster="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover2large.jpg" preload="metadata" controls="controls" tabindex="0">
            <source src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2003.MP4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            Тег video не поддерживается вашим браузером. <a href="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2003.MP4">Скачайте видео</a>.
        </video>
    </div>
    <div class="video_podcasts">
        <h2> Unit 4 - Podcast Elementary 04</h2>
        <video poster="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover2large.jpg" preload="auto" controls="controls" tabindex="0">
            <source src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2004.MP4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            Тег video не поддерживается вашим браузером. <a href="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2004.MP4">Скачайте видео</a>.
        </video>
    </div>
    <div class="video_podcasts">
        <h2> Unit 5 - Podcast Elementary 05</h2>
        <video poster="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover2large.jpg" preload="auto" controls="controls" tabindex="0">
            <source src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2005.MP4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            Тег video не поддерживается вашим браузером. <a href="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2005.MP4">Скачайте видео</a>.
        </video>
    </div>
    <div class="video_podcasts">
        <h2> Unit 6 - Podcast Elementary 06</h2>
        <video poster="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover2large.jpg" preload="auto" controls="controls" tabindex="0">
            <source src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2006.MP4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            Тег video не поддерживается вашим браузером. <a href="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2006.MP4">Скачайте видео</a>.
        </video>
    </div>
    <div class="video_podcasts">
        <h2> Unit 7 - Podcast Elementary 07</h2>
        <video poster="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover2large.jpg" preload="auto" controls="controls" tabindex="0">
            <source src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2007.MP4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            Тег video не поддерживается вашим браузером. <a href="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2007.MP4">Скачайте видео</a>.
        </video>
    </div>
    <div class="video_podcasts">
        <h2> Unit 8 - Podcast Elementary 08</h2>
        <video poster="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover2large.jpg" preload="auto" controls="controls" tabindex="0">
            <source src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2008.MP4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            Тег video не поддерживается вашим браузером. <a href="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2008.MP4">Скачайте видео</a>.
        </video>
    </div>
    <div class="video_podcasts">
        <h2> Unit 9 - Podcast Elementary 09</h2>
        <video poster="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover2large.jpg" preload="auto" controls="controls" tabindex="0">
            <source src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2009.MP4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            Тег video не поддерживается вашим браузером. <a href="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2009.MP4">Скачайте видео</a>.
        </video>
    </div>
    <div class="video_podcasts">
        <h2> Unit 10 - Podcast Elementary 10</h2>
        <video poster="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover2large.jpg" preload="auto" controls="controls" tabindex="0">
            <source src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2010.MP4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            Тег video не поддерживается вашим браузером. <a href="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2010.MP4">Скачайте видео</a>.
        </video>
    </div>
    <div class="video_podcasts">
        <h2> Unit 11 - Podcast Elementary 11</h2>
        <video poster="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover2large.jpg" preload="auto" controls="controls" tabindex="0">
            <source src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2011.MP4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            Тег video не поддерживается вашим браузером. <a href="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2011.MP4">Скачайте видео</a>.
        </video>
    </div>
    <div class="video_podcasts">
        <h2> Unit 12 - Podcast Elementary 12</h2>
        <video poster="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover2large.jpg" preload="auto" controls="controls" tabindex="0">
            <source src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2012.MP4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            Тег video не поддерживается вашим браузером. <a href="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2012.MP4">Скачайте видео</a>.
        </video>
    </div>

</div>
