<div>
    <div class="video_video">
        <h2> Unit 1</h2>
        <video poster="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover2large.jpg" preload="auto" controls="controls" tabindex="0">
            <source src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Video/u1.flv" />
            Тег video не поддерживается вашим браузером. <a href="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Video/u1.flv">Скачайте видео</a>.
        </video>
    </div>
</div>
