@{
    ViewBag.Title = "Статьи, факты, литература для самообразования";
}

<h1>
    @ViewBag.Title

</h1>
<div class="row">
    <div class="col-md-6">
        <h2>Что важно знать, чтобы начать говорить на английском языке?</h2>

        <ol>
            <li>Словарный запас в размере 1000-1500 слов – 60%</li>
            <li>Грамматика - 30%</li>
            <li>Шаблонные фразы и выражения – 10%</li>
        </ol>

        <p>Ну вот и начинаются чудеса, скажете вы! Разве можно выучить 1000 слов, освоить все времена английского глагола и научиться еще многим полезным вещам в языке и это ВСЕ ЗА 1 МЕСЯЦ</p>
        <p>Возможно! – отвечу я. Наша студия предлагает вам эту возможность и приглашает Вас на курс «Английский за 1 месяц .Только для тех, кто берет и делает».</p>

        <div class="list-group">
            <a class="list-group-item active">Итак, что вы получите на курсе:</a>
            <a class="list-group-item">+ Вы запомните 1000 английских слов.</a>
            <a class="list-group-item">+ Освоите 12 английских времен, их согласование и некоторые дополнительные грамматические конструкции, позволяющие вам полноценно общаться на языке.</a>
            <a class="list-group-item">+ Сможете ПРАВИЛЬНО строить предложения на английском в любом времени, используя изученную лексику на курсе.</a>
            <a class="list-group-item">+ Освоите совершенно новые возможности своей памяти.</a>
            <a class="list-group-item">+ И все это всего лишь за 1 месяц занятий на наших курсах!</a>
            <a class="list-group-item">+ Занятия проводятся 3 раз в неделю по 2 часа в удобное для Вас время.</a>

        </div>
        <a class="btn btn-warning" href="@Url.Action("Index", "Home")#guideline">Стоимость этого курса всего </a>
        <p>Мы стремится к тому, чтобы каждый из вас постоянно применял полученные на курсах знания, и для этого мы создаем различные возможности.</p>
        <p>И специальный бонус от нашей компании - каждый участник наших курсов, прошедший обучение, имеет право в течение года после окончания курса пройти его еще раз совершенно БЕСПЛАТНО!</p>
        <h2>Для нас главное – ВАШ РЕЗУЛЬТАТ.</h2>
        <address>
            <strong>Киев</strong>
            <br />
            ул. Спасская, 6А‎
            <br />
            (Подол)
            <br />
            <abbr title="Наш городской телефон"><span class="glyphicon glyphicon-phone-alt" style="font-size: 10pt;"></span>tel:</abbr>
            (044) 360−70−07
            <br />
            <abbr title="Наши мобильные телефоны"><span class="glyphicon glyphicon-earphone" style="font-size: 10pt;"></span>mob:</abbr>
            (050) 443-55-56<br />
            (098) 904−13−81
        </address>


    </div>
    <div class="col-md-6">
        <h1>Представляем подборку из 10 англоязычных сайтов, которые можно использовать в качестве тревел-гидов по всему свету!</h1>
        <p>Множество фотографий, маршрутов, видео от бывалых путешественников. </p>
        <p>Бонус - можно подтянуть английский!</p>
        <div class="list-group">
            <a class="list-group-item active">Перечень ссылок:</a>
            <a class="list-group-item" target="_blank" href="http://www.travellistic.com">travellistic.com - Travellistic covers events, things to do and see, and street food. I aim to provide you with detailed travel information, insightful tips, and a unique perspective on traveling this extraordinary world we live in. </a>
            <a class="list-group-item" target="_blank" href="http://www.tripfilms.com/">tripfilms.com - Tripfilms is building the travel channel of the web powered by a community of travel loving filmmakers. At Tripfilms.com, you can watch informative and entertaining videos and plan better trips.</a>
            <a class="list-group-item" target="_blank" href="http://www.geobeats.com/">http://www.geobeats.com/</a>
            <a class="list-group-item" target="_blank" href="http://zoomandgo.com/">http://zoomandgo.com/</a>
            <a class="list-group-item" target="_blank" href="http://www.videomap.it/en/">http://www.videomap.it/en/</a>
            <a class="list-group-item" target="_blank" href="http://www.compulsivetraveler.tv/">http://www.compulsivetraveler.tv/</a>
            <a class="list-group-item" target="_blank" href="http://www.travelchannel.com/">http://www.travelchannel.com/</a>
            <a class="list-group-item" target="_blank" href="http://www.overlander.tv/">http://www.overlander.tv/</a>
            <a class="list-group-item" target="_blank" href="http://www.youtube.com/user/TravelerVideos">http://www.youtube.com/user/TravelerVideos</a>
            <a class="list-group-item" target="_blank" href="http://www.lonelyplanet.tv/">http://www.lonelyplanet.tv/</a>
        </div>
        <h2>ссылки на образовательные ресурсы</h2>
        <div class="list-group">
            <a href="http://global.oup.com/?cc=ua" class="list-group-item" target="_blank">http://global.oup.com/?cc=ua</a>
            <a href="http://www.cambridge.org/" class="list-group-item" target="_blank">http://cambridge.org/</a>
            <a href="http://www.bbc.co.uk/podcasts" class="list-group-item" target="_blank">http://bbc.co.uk/podcasts</a>
            <a href="http://www.ielts.org/" class="list-group-item" target="_blank">http://ielts.org</a>
            <a href="http://www.ets.org/toefl" class="list-group-item" target="_blank">http://ets.org/toefl</a>
            <a href="http://www.oxfordquality.ru/" class="list-group-item" target="_blank">http://oxfordquality.ru/</a>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
            <div>
                <img class="img-thumbnail" src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Angliyskiy_yazyk_za_4_nedeli-2012-MatveyevSA/Angliyskiy_yazyk_za_4_nedeli-2012-MatveyevSA.png" width="188" height="268" />
            </div>
            <h3 class="_featurette-heading">Матвеев С.А. - Английский язык за 4 недели - 2012</h3>

            <div class="lead">
                <p>Год выпуска: 2012 г.</p>
                <p>Автор: Матвеев С.А.</p>
                <p>Издатель: Астрель, ВКТ</p>
                <p>Язык курса: Русский</p>
                <p>Формат: PDF</p>
                <p>Качество: Отсканированные страницы</p>
                <p>Кол-во страниц: 192</p>
                <p>ISBN: 978-5-17-068009-2, 978-5-271-28755-8</p>

                <p>Это простой и доступный курс английского языка, в котором дано краткое описание фонетических, лексических и грамматических особенностей разговорной и письменной речи. Самоучитель состоит из двух частей и небольшого англо-русского словаря. Входит в серию книг, посвященных самостоятельному изучению английского языка.</p>
            </div>
            <div class="_acc">
                <h3>Скачать</h3>
                <div>
                    <a class="btn btn-warning btn-lg" href="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Angliyskiy_yazyk_za_4_nedeli-2012-MatveyevSA/Angliyskiy_yazyk_za_4_nedeli-2012-MatveyevSA" title="Матвеев С.А. - Английский язык за 4 недели - 2012">Матвеев С.А. - Английский язык за 4 недели - 2012</a>
                    <div class="">
                        <p>Год выпуска: 2012 г.</p>
                        <p>Автор: Матвеев С.А.</p>
                        <p>Издатель: Астрель, ВКТ</p>
                        <p>Язык курса: Русский</p>
                        <p>Формат: PDF</p>
                        <p>Качество: Отсканированные страницы</p>
                        <p>Кол-во страниц: 192</p>
                        <p>ISBN: 978-5-17-068009-2, 978-5-271-28755-8</p>

                        <p>Описание: Это простой и доступный курс английского языка, в котором дано краткое описание фонетических, лексических и грамматических особенностей разговорной и письменной речи. Самоучитель состоит из двух частей и небольшого англо-русского словаря. Входит в серию книг, посвященных самостоятельному изучению английского языка.</p>
                    </div>
                </div>
                <h3>Читать on-line</h3>
                <div>
                    <p>Дождитесь загрузки плагина!</p>
                    <iframe class="scribd_iframe_embed" src="//www.scribd.com/embeds/186257283/content?start_page=1&view_mode=scroll&access_key=key-2lp4tve09qfj3n2nvm7s&show_recommendations=false" data-auto-height="false" data-aspect-ratio="0.64153627311522" scrolling="no" id="doc_93919" width="100%" height="600" frameborder="0"></iframe>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron">
            <div>
                <img class="img-thumbnail" src="https://googledrive.com/host/0B2nIyMekjWaIZFYzM2VwX21zY2c/TeachYourselfEnglishforlazy.jpg" />
            </div>
            <h3 class="_featurette-heading">Самоучитель английского языка для ленивого</h3>




            <div class="lead">
                <p>Год выпуска: 1994 г.</p>
                <p>Автор: Владимир Шепелевский</p>
                <p>Издатель: Астрель, ВКТ</p>
                <p>Язык курса: Русский</p>
                <p>Форматы: djvu, pdf, doc</p>
                <p>Качество: Отсканированные страницы</p>
                <p>Кол-во страниц: 31</p>


                <p>
                    Не просто "самоучитель английского для ленивого", а я бы сказал, - для "апсалютно ленивого". В этом кратком курсе английского языка для начинающих вы не будете тратить время на заучивание языковедческих труднопроизносимых словообозначений. на исписывание кип бумаги и т.п. Вы просто читаете, допустим, в дороге, знакомую вам с детства книжку «Робинзан Крузо» Даниэля ДЭФО о мужественном человеке, сумевшем преодолеть все тяготы, преподнесенные ему судьбой, по мере движения текста понемногу с расстановкой и сносками на полях будут, убиратся русские слова и заменятся английскими, и русский текст к концу романа станет полностью английским. Правила английского словостроя вы увидите сами - непринужденно и логически.
                </p>
            </div>
            <div class="_acc">
                <h3>Скачать</h3>
                <div>
                    <a class="btn btn-warning btn-lg" href="https://googledrive.com/host/0B2nIyMekjWaIZFYzM2VwX21zY2c/TeachYourselfEnglishforlazy.pdf" title="Самоучитель английского языка для ленивого PDF">Самоучитель английского языка для ленивого</a>
                    <a class="btn btn-warning btn-lg" href="https://googledrive.com/host/0B2nIyMekjWaIZFYzM2VwX21zY2c/TeachYourselfEnglishforlazy.djvu" title="Самоучитель английского языка для ленивого DJVU">Самоучитель английского языка для ленивого</a>
                    <a class="btn btn-warning btn-lg" href="https://googledrive.com/host/0B2nIyMekjWaIZFYzM2VwX21zY2c/TeachYourselfEnglishforlazy.doc" title="Самоучитель английского языка для ленивого DOC">Самоучитель английского языка для ленивого</a>

                </div>
                <h3>Читать on-line</h3>
                <div>
                    <p>Дождитесь загрузки плагина!</p>
                    <iframe class="scribd_iframe_embed" src="//www.scribd.com/embeds/186909222/content?start_page=1&view_mode=scroll&access_key=key-roeqwlt39sy5br1uk7c&show_recommendations=false" data-auto-height="false" data-aspect-ratio="0.648882480173035" scrolling="no" id="doc_26180" width="100%" height="600" frameborder="0"></iframe>
                </div>

            </div>
        </div>
    </div>
</div>




