@{
    ViewBag.Title = "Статьи, факты";
}

<h1>@ViewBag.Title

</h1>
<div class="row">
    <div class="col-md-6">
        <h2>Что важно знать, чтобы начать говорить на английском языке?</h2>

        <ol>
            <li>Словарный запас в размере 1000-1500 слов – 60%</li>
            <li>Грамматика - 30%</li>
            <li>Шаблонные фразы и выражения – 10%</li>
        </ol>

        <p>Ну вот и начинаются чудеса, скажете вы! Разве можно выучить 1000 слов, освоить все времена английского глагола и научиться еще многим полезным вещам в языке и это ВСЕ ЗА 1 МЕСЯЦ</p>
        <p>Возможно! – отвечу я. Наша студия предлагает вам эту возможность и приглашает Вас на курс «Английский за 1 месяц .Только для тех, кто берет и делает».</p>

        <div class="list-group">
            <a class="list-group-item active">Итак, что вы получите на курсе:</a>
            <a class="list-group-item">+ Вы запомните 1000 английских слов.</a>
            <a class="list-group-item">+ Освоите 12 английских времен, их согласование и некоторые дополнительные грамматические конструкции, позволяющие вам полноценно общаться на языке.</a>
            <a class="list-group-item">+ Сможете ПРАВИЛЬНО строить предложения на английском в любом времени, используя изученную лексику на курсе.</a>
            <a class="list-group-item">+ Освоите совершенно новые возможности своей памяти.</a>
            <a class="list-group-item">+ И все это всего лишь за 1 месяц занятий на наших курсах!</a>
            <a class="list-group-item">+ Занятия проводятся 3 раз в неделю по 2 часа в удобное для Вас время.</a>

        </div>
        <a class="btn btn-warning" href="@Url.Action("Index", "Home")#guideline">Стоимость этого курса всего </a>
        <p>Мы стремится к тому, чтобы каждый из вас постоянно применял полученные на курсах знания, и для этого мы создаем различные возможности.</p>
        <p>И специальный бонус от нашей компании - каждый участник наших курсов, прошедший обучение, имеет право в течение года после окончания курса пройти его еще раз совершенно БЕСПЛАТНО!</p>
        <h2>Для нас главное – ВАШ РЕЗУЛЬТАТ.</h2>
        <address>
            <strong>Киев</strong>
            <br />
            ул. Спасская, 6А‎
                            <br />
            (Подол)
                            <br />
            <abbr title="Наш городской телефон"><span class="glyphicon glyphicon-phone-alt" style="font-size: 10pt;"></span>tel:</abbr>
            (044) 360−70−07 
        <br />
            <abbr title="Наши мобильные телефоны"><span class="glyphicon glyphicon-earphone" style="font-size: 10pt;"></span>mob:</abbr>
            (050) 443-55-56<br />
            (098) 904−13−81
        </address>


    </div>
    <div class="col-md-6">
        <h1>Представляем подборку из 10 англоязычных сайтов, которые можно использовать в качестве тревел-гидов по всему свету!</h1>
        <p>Множество фотографий, маршрутов, видео от бывалых путешественников. </p>
        <p>Бонус - можно подтянуть английский!</p>
         <div class="list-group">
            <a class="list-group-item active">Перечень ссылок:</a>
            <a class="list-group-item"  target="_blank" href="http://www.travellistic.com">travellistic.com - Travellistic covers events, things to do and see, and street food. I aim to provide you with detailed travel information, insightful tips, and a unique perspective on traveling this extraordinary world we live in. </a>
            <a class="list-group-item"  target="_blank" href="http://www.tripfilms.com/">tripfilms.com - Tripfilms is building the travel channel of the web powered by a community of travel loving filmmakers. At Tripfilms.com, you can watch informative and entertaining videos and plan better trips.</a>
            <a class="list-group-item"  target="_blank" href="http://www.geobeats.com/">http://www.geobeats.com/</a>
            <a class="list-group-item"  target="_blank" href="http://zoomandgo.com/">http://zoomandgo.com/</a>
            <a class="list-group-item"  target="_blank" href="http://www.videomap.it/en/">http://www.videomap.it/en/</a>
            <a class="list-group-item"  target="_blank" href="http://www.compulsivetraveler.tv/">http://www.compulsivetraveler.tv/</a>
            <a class="list-group-item"  target="_blank" href="http://www.travelchannel.com/">http://www.travelchannel.com/</a>
            <a class="list-group-item"  target="_blank" href="http://www.overlander.tv/">http://www.overlander.tv/</a>
            <a class="list-group-item"  target="_blank" href="http://www.youtube.com/user/TravelerVideos">http://www.youtube.com/user/TravelerVideos</a>
            <a class="list-group-item"  target="_blank" href="http://www.lonelyplanet.tv/">http://www.lonelyplanet.tv/</a>

        </div>
     
    </div>

</div>




