@{
    ViewBag.Title = "Книги, журналы и другая литература на нашем сайте";
}

<h2 class="featurette-heading">@ViewBag.Title</h2>

<div class="jumbotron">
    <h2 class="featurette-heading">New Challenges <span class="text-muted">(Student's book, Workbook)</span></h2>
    <div class="img-thumbnail">
        <img class="pull-left" src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/New_Challenges/New_Challenges_SB.jpg" title="New Challenges" alt="New Challenges" />
        <img src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/New_Challenges/New_Challenges_WB.jpg" title="New Challenges" alt="New Challenges" />
    </div>
    <div class="lead">
        <h2>Описание:</h2>

        <p>Год выпуска: 2007</p>
        <p>Автор: Michael Harris, David Mower; Amanda Maris</p>
        <p>Жанр: Учебное пособие</p>
        <p>Издательство: Pearson Longman</p>
        <p>Формат: PDF</p>
        <p>Качество: Отсканированные страницы</p>
        <p>Количество страниц: 130+113</p>
        <p>Challenges is the new course for teenagers which gives them everything they need to be successful in learning English. Written by the authors of the global bestseller, ‘Opportunities’.</p>
        <p>Challenges provides Coursebooks that can be completed in one year, giving students a clear sense of progress Informative and engaging topics that involve teenagers in their learning Unique features include word building, text building and sentence patterns Characters that promote positive values and use real spoken language. Activities for building learner strategies for independent learning Magazine at the back of the Students Book to support mixed ability classes Strong grammar and skills sections give students confidence in using the language A full Word Bank that is easy to use A unique teacher’s package gives total support and maximum flexibility.</p>
    </div>
    <div class="_acc">
        <h3>New Challenges SB</h3>
        <div>
            <a class="btn btn-default btn-lg" href="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/New_Challenges/Challenges_1_Students_Book.pdf">Скачать New Challenges SB</a>
            <div>
                <p>Дождитесь загрузки плагина!</p>
                <iframe class="scribd_iframe_embed" src="//www.scribd.com/embeds/186273485/content?start_page=1&view_mode=scroll&access_key=key-jyqypmxyawfb50lxnbz&show_recommendations=false" data-auto-height="false" data-aspect-ratio="0.705882352941177" scrolling="no" id="doc_92010" width="100%" height="600" frameborder="0"></iframe>
            </div>
        </div>
        <h3>New Challenges WB</h3>
        <div>
            <a class="btn btn-default btn-lg" href="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/New_Challenges/Challenges_1_Workbook.pdf">Скачать New Challenges WB</a>
            <div>
                <p>Дождитесь загрузки плагина!</p>
                <iframe class="scribd_iframe_embed" src="//www.scribd.com/embeds/186273484/content?start_page=1&view_mode=scroll&access_key=key-2hzeq61t3oywuif8ic63&show_recommendations=false" data-auto-height="false" data-aspect-ratio="0.705882352941177" scrolling="no" id="doc_67811" width="100%" height="600" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>
<hr class="featurette-divider">
<div class="jumbotron">
    <h2 class="featurette-heading">New Cutting Edge Upper-Intermediate <span class="text-muted">Student's book, Workbook, Teacher's book (PDF), Class CDs, Student's CDs (mp3)</span></h2>
    <div>
        <img class="img-thumbnail" src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/New_Cutting_Edge_Up-Int/new_cutting_edge.gif" title="New Cutting Edge Upper-Intermediate" alt="New Cutting Edge Upper-Intermediate" />
    </div>
    <div class="lead">
        <h2>Описание:</h2>
        <p>Год выпуска: 2007</p>
        <p>Автор: Sarah Cunningham, Peter Moor</p>
        <p>Издательство: Pearson Longman</p>
        <p>Качество: Отсканированные страницы</p>
        <p>What’s special about New Cutting Edge?</p>
        <p>The new editions contain all the ingredients that made the original edition so popular – a thorough grammar syllabus, plenty of vocabulary work and engaging speaking tasks. Based on feedback from teachers around the world, the new editions have been thoroughly updated with new texts and tasks, additional practice material and a whole range of other exciting features.</p>
        <ul>
            <li>Challenge your students with the new ‘Study, Practice, Remember’ sections</li>
            <li>Motivate your students with the new self-study CD-ROMs which provide additional grammar and vocabulary practice, plus ‘Real life’ video sequences Teacher Support</li>
            <li>Make your lessons varied and interesting using the Teacher’s Book with step-by-step teaching notes and loads of photocopiable activities</li>
            <li>Get as much test material as you want using the Test Master CD-ROM – fully editable tests for all stages of the course</li>
            <li>Make your lessons even more engaging and student-centred using New Cutting Edge Digital – software for the interactive whiteboard</li>
            <li>Excite your students with rich, cultural content using the documentary-style videos and accompanying workbooks</li>
            <li>Make lesson planning easier using the Companion Website - worksheets, webquests, Common European Framework benchmarking documents all available at www.longman.com/cuttingedge</li>
        </ul>
        <div class="_acc">
            
            <h3>Longman New Cutting Edge Student's book (PDF, 175стр)</h3>
            <div>
                Longman New Cutting Edge Student's book (PDF, 175стр)
            </div>
            
            <h3>Longman New Cutting Edge Workbook (PDF, 111стр)+Student's CD (mp3)</h3>
            <div>
                Longman New Cutting Edge Workbook (PDF, 111стр)+Student's CD (mp3)
            </div>
            <h3>Longman New Cutting Edge Teacher's book (PDF, 174стр)+Class CD (mp3)</h3>
            <div>
                Longman New Cutting Edge Teacher's book (PDF, 174стр)+Class CD (mp3)
            </div>
        </div>
    </div>
</div>
<hr class="featurette-divider">
<div class="jumbotron">
    <h2 class="featurette-heading">New Opportunities Beginner <span class="text-muted">Teacher's book.pdf; Students' Book.pdf with Mini-Dictionary.pdf; Language Powerbook .pdf; Class Cassettes 1,2,3 & Text Cassette.mp3; Test master CD</span></h2>
    <div>
        <img class="img-thumbnail" src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/New_Opportunities_Beginner/opportunities.jpg" />
    </div>
    <div class="lead">
        <h2>Описание:</h2>
        <p>Год выпуска: 2006</p>
        <p>Жанр: Английский язык</p>
        <p>Издательство: Pearson Education LIMITED 2006</p>
        <p>Язык курса: Английский язык</p>
        <p>Based on feedback from teachers and students around the world, New Opportunities now comes with new features and components to make your lessons even more motivating and successful.</p>
        <p>For more information visit www. longman. com/dictionaries</p>
        <a class="btn btn-default btn-lg">New Opportunities Beginner Teacher's book.pdf</a>
        <a class="btn btn-default btn-lg">New Opportunities Beginner Students' Book.pdf</a>
        <a class="btn btn-default btn-lg">New Opportunities Beginner Mini-Dictionary.pdf</a>
        <a class="btn btn-default btn-lg">New Opportunities Beginner Language Powerbook.pdf</a>
        <a class="btn btn-default btn-lg">New Opportunities Beginner Class Cassettes 1,2,3 & Text Cassette.mp3</a>
        <a class="btn btn-default btn-lg">New Opportunities Beginner Test master CD</a>
    </div>
</div>
<hr class="featurette-divider">

<div class="jumbotron">
    <div>
        <img class="img-thumbnail" src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Angliyskiy_yazyk_za_4_nedeli-2012-MatveyevSA/Angliyskiy_yazyk_za_4_nedeli-2012-MatveyevSA.png" width="188" height="268" />
    </div>
    <h2 class="featurette-heading">Матвеев С.А. - Английский язык за 4 недели - 2012</h2>

    <div class="lead">
        <p>Год выпуска: 2012 г.</p>
        <p>Автор: Матвеев С.А.</p>
        <p>Издатель: Астрель, ВКТ</p>
        <p>Язык курса: Русский</p>
        <p>Формат: PDF</p>
        <p>Качество: Отсканированные страницы</p>
        <p>Кол-во страниц: 192</p>
        <p>ISBN: 978-5-17-068009-2, 978-5-271-28755-8</p>

        <p>Это простой и доступный курс английского языка, в котором дано краткое описание фонетических, лексических и грамматических особенностей разговорной и письменной речи. Самоучитель состоит из двух частей и небольшого англо-русского словаря. Входит в серию книг, посвященных самостоятельному изучению английского языка.</p>
    </div>
    <div class="_acc">
        <h3>Скачать</h3>
        <div>
            <a class="btn btn-warning btn-lg" href="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Angliyskiy_yazyk_za_4_nedeli-2012-MatveyevSA/Angliyskiy_yazyk_za_4_nedeli-2012-MatveyevSA" title="Матвеев С.А. - Английский язык за 4 недели - 2012">Матвеев С.А. - Английский язык за 4 недели - 2012</a>
            <div class="">
                <p>Год выпуска: 2012 г.</p>
                <p>Автор: Матвеев С.А.</p>
                <p>Издатель: Астрель, ВКТ</p>
                <p>Язык курса: Русский</p>
                <p>Формат: PDF</p>
                <p>Качество: Отсканированные страницы</p>
                <p>Кол-во страниц: 192</p>
                <p>ISBN: 978-5-17-068009-2, 978-5-271-28755-8</p>

                <p>Описание: Это простой и доступный курс английского языка, в котором дано краткое описание фонетических, лексических и грамматических особенностей разговорной и письменной речи. Самоучитель состоит из двух частей и небольшого англо-русского словаря. Входит в серию книг, посвященных самостоятельному изучению английского языка.</p>
            </div>
        </div>
        <h3>Читать on-line</h3>
        <div>
            <p>Дождитесь загрузки плагина!</p>
            <iframe class="scribd_iframe_embed" src="//www.scribd.com/embeds/186257283/content?start_page=1&view_mode=scroll&access_key=key-2lp4tve09qfj3n2nvm7s&show_recommendations=false" data-auto-height="false" data-aspect-ratio="0.64153627311522" scrolling="no" id="doc_93919" width="100%" height="600" frameborder="0"></iframe>
        </div>

    </div>
</div>

<hr class="featurette-divider">

<div class="jumbotron">
    <div>
        <img class="img-thumbnail" src="https://googledrive.com/host/0B2nIyMekjWaIZFYzM2VwX21zY2c/TeachYourselfEnglishforlazy.jpg"  />
    </div>
    <h2 class="featurette-heading">Самоучитель английского языка для ленивого</h2>
 



    <div class="lead">
        <p>Год выпуска: 1994 г.</p>
        <p>Автор: Владимир Шепелевский</p>
        <p>Издатель: Астрель, ВКТ</p>
        <p>Язык курса: Русский</p>
        <p>Форматы: djvu, pdf, doc</p>
        <p>Качество: Отсканированные страницы</p>
        <p>Кол-во страниц: 31</p>
        

        <p>Не просто "самоучитель английского для ленивого", а я бы сказал, - для "апсалютно ленивого". В этом кратком курсе английского языка для начинающих вы не будете тратить время на заучивание языковедческих труднопроизносимых словообозначений. на исписывание кип бумаги и т.п. Вы просто читаете, допустим, в дороге, знакомую вам с детства книжку «Робинзан Крузо» Даниэля ДЭФО о мужественном человеке, сумевшем преодолеть все тяготы, преподнесенные ему судьбой, по мере движения текста понемногу с расстановкой и сносками на полях будут, убиратся русские слова и заменятся английскими, и русский текст к концу романа станет полностью английским. Правила английского словостроя вы увидите сами - непринужденно и логически.
</p>
    </div>
    <div class="_acc">
        <h3>Скачать</h3>
        <div>
            <a class="btn btn-warning btn-lg" href="https://googledrive.com/host/0B2nIyMekjWaIZFYzM2VwX21zY2c/TeachYourselfEnglishforlazy.pdf" title="Самоучитель английского языка для ленивого PDF">Самоучитель английского языка для ленивого</a>
            <a class="btn btn-warning btn-lg" href="https://googledrive.com/host/0B2nIyMekjWaIZFYzM2VwX21zY2c/TeachYourselfEnglishforlazy.djvu" title="Самоучитель английского языка для ленивого DJVU">Самоучитель английского языка для ленивого</a>
            <a class="btn btn-warning btn-lg" href="https://googledrive.com/host/0B2nIyMekjWaIZFYzM2VwX21zY2c/TeachYourselfEnglishforlazy.doc" title="Самоучитель английского языка для ленивого DOC">Самоучитель английского языка для ленивого</a>
            
        </div>
        <h3>Читать on-line</h3>
        <div>
            <p>Дождитесь загрузки плагина!</p>
            <iframe class="scribd_iframe_embed" src="//www.scribd.com/embeds/186909222/content?start_page=1&view_mode=scroll&access_key=key-roeqwlt39sy5br1uk7c&show_recommendations=false" data-auto-height="false" data-aspect-ratio="0.648882480173035" scrolling="no" id="doc_26180" width="100%" height="600" frameborder="0"></iframe>
        </div>
        
    </div>
</div>