@{
    ViewBag.Title = "Video";
}

<h2>Video</h2>
<div class="row">
    <div class="col-sx-6 col-md-4">
        <video poster="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Speakout_Elementary.jpg" preload="metadata" controls="controls" tabindex="0">
            <source src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2001.MP4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            Тег video не поддерживается вашим браузером. <a href="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/Speakout_Elementary/Podcasts/Podcast%20Elementary%2001.MP4">Скачайте видео</a>.
        </video>
    </div>
</div>
