@{
    ViewBag.Title = "Видео материалы для обучения и самообразования";
}
<style>
    .about_course, .video_video, .video_podcasts {
        margin: 10px;
    }
</style>

<h2>@Html.ViewBag.Title</h2>
