<div class="carousel-caption" style="color: #ffffff !important; -webkit-text-shadow: 2px 2px 2px #333333; text-shadow: 2px 2px 2px #333333; ">
    <div class="pull-left" style="width: 725px">
        <h1>ВНИМАНИЕ! НАБОР НА НОВЫЕ КУРСЫ</h1>
        <p>Стартует курс @Html.ActionLink("«Я ВЫХОЖУ ЗАМУЖ»", "Index", "News", null, new { @class = "btn btn-lg btn-warning", title = "ВНИМАНИЕ! НАБОР НА НОВЫЕ КУРСЫ" })</p>
        <p>Начинает набор в мини группу @Html.ActionLink("Elementary (Общий курс)", "About", "Home", null, new { @class = "btn btn-lg btn-info", title = "ВНИМАНИЕ! НАБОР НА НОВЫЕ КУРСЫ" })</p>
        <p>Приятная новость месяца - объявляется набор в новую группу - @Html.ActionLink("«Курс выходного дня» ", "Feedback", "Home", null, new { @class = "btn btn-lg btn-default", title = "ВНИМАНИЕ! НАБОР НА НОВЫЕ КУРСЫ" })</p>
    </div>
    <div>
        <img class="img-circle" src="~/Content/images/logo.jpg" />
    </div>
</div>
