<div class="carousel-caption" style="color: #ffffff !important;">
    <img class="pull-left img-circle" src="~/Content/images/logo.jpg" />
    <h1>ВНИМАНИЕ! НАБОР НА НОВЫЕ КУРСЫ</h1>
    <p>Стартует курс @Html.ActionLink("«Я ВЫХОЖУ ЗАМУЖ»", "Index", "News", null, new { @class = "btn btn-lg btn-primary", title = "ВНИМАНИЕ! НАБОР НА НОВЫЕ КУРСЫ" })</p>
    <p>Начинает набор в мини группу @Html.ActionLink("Elementary (Общий курс)", "Feedback", "Home", null, new { @class = "btn btn-lg btn-primary", title = "ВНИМАНИЕ! НАБОР НА НОВЫЕ КУРСЫ" })</p>
    <p>Приятная новость месяца - объявляется набор в новую группу - @Html.ActionLink("«Курс выходного дня» ", "Feedback", "Home", null, new { @class = "btn btn-lg btn-primary", title = "ВНИМАНИЕ! НАБОР НА НОВЫЕ КУРСЫ" })</p>
</div>
