@{
    ViewBag.Title = "Скидки в Информационном центре Albion";
}

<h2>@ViewBag.Title</h2>
<div class="featurette-heading lead">
    <p><span class="badge">21/01</span></p>
    <p>
        Скоро!!!

    </p>
</div>