@{
    ViewBag.Title = "Новости школы EnglishAlbion";
}
<style type="text/css">
    .red
    {
        color: #f00;
    
    }
    .blue
    {
        color: rgb(0, 0, 153);
    }
    .p18
    {
        font-size: 18pt;
    }
    .p24
    {
        font-size: 24pt;
    }
    
</style>
<h2 class="red p24"><b>Новости</b></h2>

<div class="featurette-heading lead">
    <p><span class="badge">27/08</span></p>
    <h1 class="blue"><b>Бизнес английский — </b><span class="red"><b>«экспресс курс»</b> с носителем языка</span></h1>
    <p class="blue p24">Данный курс сочетает все необходимые элементы обучения английскому для работы в бизнес среде.</p>
    <p>(два раза в неделю) 24 ак . /часа −2 месяца обучения (Группы от 4-6 чел.)</p>
    <div class="list-group">
        <a class="list-group-item active p24">В программе обучения:</a>
        <a class="list-group-item">знакомство с партнерами;</a>
        <a class="list-group-item">правила столового этикета;</a>
        <a class="list-group-item">поездки, организация встреч;</a>
        <a class="list-group-item">основы продаж, маркетинга;</a>
        <a class="list-group-item">понимание культурных различий;</a>
        <a class="list-group-item">навыки прохождения собеседования и др.</a>
        <a class="list-group-item">прием иностранных гостей;</a>
        <a class="list-group-item">презентация компании и ее продукции;</a>
        <a class="list-group-item">продажи по интернету;</a>
        <a class="list-group-item">управление людьми;</a>
        <a class="list-group-item">планирование, маркетинг;</a>
        <a class="list-group-item">развитие собственной карьеры и многое другое.</a>

    </div>
</div>
@*<div class="featurette-heading lead">
    <p><span class="badge">29/08</span></p>
    <h1>Английский язык в путешествие- Вокруг Света!</h1>
    <p>(2 раза в неделю по 120 мин) — 1 месяц обучения</p>
    <p>Программа предназначена для слушателей с начальным уровнем знаний, которым необходимо приобрести навыки разговорного английского языка в туристических поездках. Изучается лексика общего английского языка, характерная для большинства ситуаций туристической поездки. Данная программа обучения имеет целевой интенсивный характер.</p>
    <p>Целью программы обучения является формирование/развитие у слушателей языковых навыков, необходимых в туристической поездке.</p>

    <div class="list-group">
        <a class="list-group-item active">Topics:</a>
        <a class="list-group-item">Packing</a>
        <a class="list-group-item">Route</a>
        <a class="list-group-item">Time-table</a>
        <a class="list-group-item">Tickets: airline, railway, boat</a>
        <a class="list-group-item">Luggage</a>
        <a class="list-group-item">Departure and arrival of train, boat, plane</a>
        <a class="list-group-item">At the station</a>
        <a class="list-group-item">Boarding the train, plane, boat</a>
        <a class="list-group-item">At the airport. The Flight</a>
        <a class="list-group-item">Renting a car</a>
        <a class="list-group-item">Hotel service and facilities: check-in and out</a>
        <a class="list-group-item">At customs</a>
        <a class="list-group-item">Camping</a>
        <a class="list-group-item">At the seaside</a>
        <a class="list-group-item">Health: at the doctor’s</a>
        <a class="list-group-item">Shopping</a>
        <a class="list-group-item">Everyday service: at the hairdresser’s, shoemaker’s laundry, mending</a>
        <a class="list-group-item">Town: asking the way</a>
        <a class="list-group-item">Telephoning</a>
        <a class="list-group-item">Money orders</a>
    </div>
</div>
<h2>Кроме того, у нас весело :)</h2>
<h2>Мы ждем Вас!!!</h2>
<h2>Хорошее настроение гарантируется :-)</h2>*@


