@{
    ViewBag.Title = "Speakout Pre-Intermediate";
 }


<h1>@ViewBag.Title</h1>
<div class="pull-left about_course">
<img class="img-rounded" src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover3large.jpg" title="@ViewBag.Title" width="250"/>
    </div>
<div class="pull-left about_course">
<h2>Описание курса</h2>
<p>Speakout is a new general English course that helps adult learners gain confidence in all skill areas using authentic materials from the BBC. With its wide range of support material, it meets the diverse needs of learners in a variety of teaching situations and helps to bridge the gap between the classroom and the real world. Speakout has been developed in association with BBC Worldwide and BBC Learning English.</p>
<p>Speakout - новый курс английского языка, который помогает взрослым учащимся обрести уверенность в овладении всеми речевыми навыками посредством использования аутентичных материалов от BBC . Благодаря разнообразию материалов он отвечает различным потребностям учащихся в разнообразных учебных ситуациях и помогает преодолеть разрыв между учебной аудиторией и реальным миром. Speakout был разработан совместно с BBC Worldwide и BBC Learning English.</p>
    </div>