@{
    ViewBag.Title = "Информационный центр «Альбион»";
}

<h2 >@ViewBag.Title</h2>
<p class="lead">
    Особенностями нашего центра – является изучение английского языка,  подготовка учеников 9-11 кл. независимому тестированию , а также повышаем уровень знаний для учащихся в 6-9 классах по таким предметам как  украинский язык и литература, физика, математика, английский, биология, химия, география.  Обучение в нашем центре в основном основано на коммуникативной методике, а это не что иное, как живое общение!Изучая английский язык мы основываемся на базе ведущих англоязычных учебников издательства Longman. Помимо основных занятий, все слушатели наших курсов могут бесплатно посещать видеоклуб по субботам, а так же пользоваться нашей библиотекой и видеотекой. Наши преподаватели это высококвалифицированные  специалисты с значительным опытом работы, а также носители языка. 70% времени урока проходит в коммуникативных ситуациях, ролевых играх, а также ситуативных диалогов. Наши курсы английского языка будут интересны и плодотворны для всех, независимо от уровня Ваших знаний. 
</p>
<p class="lead">
    Подготовка к  выпускным тестам (ЗНО)- второе наше направление. Внешнее тестирование не так страшно, как о нем пишут. Главное – вовремя подготовиться и быть во всеоружии. Поэтому без промедления примите единственно правильное решение и приходите в центр «Альбион». Мы гарантируем: спокойный сон вернется к родителям, а дети порадуют результатами и высокими оценками. 
</p>
<p class="lead">
    А летом у всех учеников есть возможность посетить летние лагеря в Великобритании, Европе, Крыму, выучит английский и хорошо отдохнуть!
</p>
<blockquote>
<p class="text-info text-right">Мы ждем Вас!!! </p>
</blockquote>