@{
    ViewBag.Title = "Есть Вакансия!";
}

<div>
	<h1>Вакансии в Информационный центр EnglishAlbion</h1>
	<p>В связи с расширением деятельности компании «Альбион» у нас есть потребность в высококвалифицированных преподавателях иностранных языков ( английский, немецкий, французский, китайский).</p>
	<h2>Должностные обязанности:</h2>
	<ul>
		<li>Преподавать  язык в соответствии с программой</li>
		<li>Готовиться к занятиям</li>
		<li>Контролировать процесс обучения студентов</li>
	</ul>
	<h2>Требования:</h2>
	<ul>
		<li>Высшее образование</li>
		<li>Опыт преподавания  от 2 лет</li>
		<li>Умение найти индивидуальный подход к каждому студенту</li>
		<li>Коммуникационные навыки</li>
		<li>Умение работать в команде</li>
		<li>Умение использовать разные методы и методики обучения, приветствуются собственные разработки</li>
		<li>Опыт работы с современными учебниками и компьютерными обучающими программами</li>
	</ul>
	<p>Условия сотрудничества оговариваются  на  собеседовании.</p>
	<p>Присылайте информацию о себе по адресу albion-company@ukr.net или заполните форму ниже.</p>
     @Html.Partial("Feedback")

	<p>Исходя из этой начальной информации, Вас пригласят на собеседование.</p>
	<p>Наши преподаватели будут заинтересованы не только заработной платой, а также будут поощряться призами и денежными вознаграждениями.</p>
</div>
<div>
	<h1>Компания «Альбион» приглашает на работу</h1>
	<h1><b>МЕНЕДЖЕРОВ ПО ПРОДАЖЕ ОБРАЗОВАТЕЛЬНЫХ УСЛУГ</b></h1>
	<h3>Работа для всех!</h3>
	<p>Вы получаете в нашем офисе рекламные буклеты и распространяете среди школьников, студентов, по почтовым ящикам и т.п.</p>
	<p>При получении рекламных материалов Вам присваивается контрольный номер, который Вы указываете на рекламном буклете (для последующей идентификации приходящего Заказчика от Вас).</p>
	<p>Размеры вознаграждения за каждого привлеченного клиента будут оговариваться при личной беседе.</p>
</div>




