@{
    ViewBag.Title = "Error404";
}

<h2>Error404</h2>
<p>
    ... страница не найдена!
</p>

<p>Воспользуйтесь поиском на сайте</p>
<div>
    <script type="text/javascript">
        var GOOG_FIXURL_LANG = 'ru';
        var GOOG_FIXURL_SITE = 'http://englishalbion.com.ua'
    </script>
    <script type="text/javascript"
            src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js">
    </script>
</div>