@{
    ViewBag.Title = "Speakout Starter";
 }


<h1>@ViewBag.Title</h1>
<div class="pull-left about_course">
<img class="img-rounded" src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover1large.jpg" title="@ViewBag.Title" width="250"/>
</div>
<div class="pull-left about_course">
<h2>Описание курса</h2>
<p>Новый (2011 - 2012 гг.) многоуровневый курс английского языка. Каждый уровень состоит из стандартного для таких учебников набора: Students' Book, Workbook, Teacher's Resource Book и CD к ним. Кроме того присутствуют дополнительные видеоматериалы, тесты и ресурсы для преподавателя.</p>
<p>Speakout is a comprehensive English course that helps adult learners gain confidence in all skill areas using authentic materials from the BBC. With its wide range of support material, it meets the diverse needs of learners in a variety of teaching situations and helps to bridge the gap between the classroom and the real world.</p>
</div>