@{
    ViewBag.Title = "English business rates";
}

<a id="business_rates"></a>
<div class="pull-right ">
    <img class="ui-corner-all" src="~/Content/images/main/page-business-english-overview.jpg" />

</div>
<div class="featurette-heading lead">
    <h1>Бизнес курс</h1>
    <p>В бизнесе не бывает мелочей: пусть вы вполне сносно владеете английским, но даже одно малознакомое слово, неожиданно возникшее, например, в деловой переписке, может стать причиной проблем в переговорах с вашим партнером.</p>
    <p>Курс английского делового языка разработан для тех, кому требуется усовершенствовать свои знания, овладеть специализированной лексикой, познакомиться с правилами делового общения, ведения переговоров, составления документов.</p>
    <p>Наличие таких навыков может стать серьезным плюсом в вашей карьере и способствовать успешному ведению бизнеса. Даже если вы изрядно подзабыли язык со студенческих времен или еще не окончили учебу, но уже в ближайшей перспективе предполагаете активное общение с англоязычными партнерами — не беда.</p>
    <div class="list-group">
        <a class="list-group-item active">Какие цели Вы сможете достичь с нами?</a>
        <a class="list-group-item">в самые короткие сроки приобрести основные навыки общения на деловом английском</a>
        <a class="list-group-item">научиться вести деловые переговоры, составлять контракты, презентации, вести деловую переписку</a>
        <a class="list-group-item">совершать телефонные звонки на английском языке</a>
        <a class="list-group-item">составлять отчеты</a>
        <a class="list-group-item">готовить доклады и многое другое.</a>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Обучение деловому английскому языку проводится для всех слушателей начиная с начального уровня.</h1>
        </div>
        <div class="panel-body">
            <h2>Общий курс обучения состоит из 5 уровней:</h2>
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> начальный — 3,5 месяца</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> ранний средний — 3,5 месяца</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> средний — 3,5 месяца</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> выше среднего — 4 месяца</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> продвинутый — 4 месяца</li>
            </ul>
        </div>
    </div>
    <p>Мы используем современные технологии обучения с применением учебных пособий Longman, доказавших свою высокую эффективность. Предлагаемая нами коммуникативная методика позволяет эффективно развивать разговорную речь в различных ситуациях делового общения.</p>
    <h3 class="text-muted">Мы предлагаем:</h3>
    <p>Фундаментальное изучение бизнес английского</p>
    <p>Экспресс курс бизнес английского ( в течении трех месяцев — включает в себя только все необходимые аспекты делового английского)</p>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">А также:</h2>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-euro"></span> Для бухгалтеров и финансистов</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-user"></span> Для HR специалистов</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-briefcase"></span> Для юристов</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-sort"></span> Для логистов</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-plane"></span> Для представителей гостиничного и туристического бизнеса</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-tasks"></span> Для IT специалистов</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-phone-alt"></span> Для офис — менеджеров и секретарей</li>
            </ul>
        </div>
    </div>

</div>

