@{
    ViewBag.Title = "French";
}


<h1>Французский</h1>

<h2>Полный курс обучения французскому состоит из пяти уровней: А1, А2, В1, В2, С1. </h2>
<p><b>А1 (начальный) - длительность уровня — 3 месяца</b> (стандартный курс французского), проводится 2 занятия в неделю длительностью по 90 минут; 2 месяца (интенсивный), проводится 3 занятия в неделю длительностью по 90 минут. Этот курс предназначен для учащихся, ранее не изучавших французский язык.</p>
<p>Он подразумевает изучение грамматических основ французского языка, базовую лексику и языковые конструкции.</p>
<h3>Основные задачи курса: заложить основные понятия о структуре языка. Расширить лексический запас.</h3>

<p><b>A2 (ранний средний)</b> — длительность уровня — 3 месяца (стандартный курс французского). Этот курс предназначен для учащихся, имеющих минимальное знание французского языка.</p>
<p>Много разговорной практики, речевые и письменные упражнения, направленные на формирование культуры общения на французском.
Основные задачи курса: интенсивное расширение словарного запаса, изучение базовой Французской лексики и грамматики.</p>
<p><b>В1 (средний)</b> — длительность уровня — 3 месяца (стандартный курс французского).</p>
<p>Этот курс предназначен для студентов, которые уже освоили базовые понятия грамматики, лексики и фонетики французского языка и направлен на более глубокое изучение правил устной и письменной речи.
Основные задачи курса: изучение основной грамматики и словаря. Интенсивная устная практика, управляемая беседа, диктовки, введение в написание.</p>
<p><b>В2 (выше среднего)</b> — длительность уровня — 4 месяца (стандартный курс французского), Этот уровень — для студентов, которые желают улучшить их функциональное знание письменной и разговорной речи. Это — подготовительный этап для ввода в более продвинутые уровни.</p>
<p>Основные задачи курса: интенсивное изучение грамматических структур, формирование умения ясно и чётко выражать свои мысли. Развитие дискурсивных способностей через управляемые беседы и дискуссии. Практика надлежащего Французского произношения. Чтение, расширение словарного запаса.</p>
<p><b>С1 (продвинутый)</b> — длительность уровня — 4 месяца (стандартный курс французского. Этот курс предоставляет возможность студентам с хорошими языковыми навыками выражать их идеи и чувства ясно и кратко, участвовать непосредственно в языковых ситуациях, максимально приближённых к реальности.</p>
<p>Основные задачи курса: обогащение словарного запаса и грамматики для выражения мыслей и чувств с навыками коммуникации, приближающимися к уровню франкофона. Изучение французского с использованием литературы, поэзии, коротких рассказов и эссе.</p>


<h1>Для взрослых и студентов</h1>
<h2>Зачем учить французский????</h2>
<h3>Причина первая- КАРЬЕРА</h3>
<p>Партнеры по работе- французы. Будьте уверены, что даже, если Ваш шеф француз- прекрасно владеет английским, он оценит ваше желание изучать его родной язык, особенно если вам по роду деятельности приходится бывать во Франции. Если Вам необходим французский для работы- Вы можете начать изучать бизнес французский. А если Вы руководитель и желаете обучить ваш персонал французскому- Вы можете выбрать корпоративную форму обучения.</p>
<h3>Причина вторая- РОМАНТИЧЕСКАЯ</h3>
<p>Французский- язык аристократов. Это язык моды, романтиков, творческих личностей. Если Вам интересна культура, история, традиции Франции, лучший способ окунуться в утонченный мир романтики- начать изучение французского!</p>
<h3>Причина третья- ПУТЕШЕСТВИЯ</h3>
<p>Сегодня французский зык является основным для населения Франции, части населения Бельгии, Швейцарии, Канады, населения Гаити и некоторых бывших или современных владений Франции в Америке и Африке. Знание французского хотя бы на бытовом уровне- это необходимость для человека, который  много путешествует!</p>
<h3>Причина четвертая- ХОББИ</h3>
<p>Почему бы не выбрать себе не только приятное, но и полезное хобби? Изучение французского- достойное увлечение. Будьте уверены обязательно наступит момент, когда Вам придется блеснуть хорошим французским и вы еще раз подтвердите свою репутацию яркой всесторонне развитой личности.</p>
<h3><b><u>Общий курс французского языка для взрослых и студентов:</u></b></h3>
<p>Сегодня существует огромное количество методик обучения иностранному языку. Одной из самых эффективных — является коммуникативный метод. Коммуникативный метод направлен прежде всего на активное взаимодействия преподавателя и изучающего иностранный язык.</p>
<p>На уроках создаются всевозможные ситуации, чтобы ученики могли пробовать себя в реальном общении. Это дает возможность научиться спонтанно выражать свои мысли.</p>
<p>Обсуждая различные темы и проблемы в группах, ученики не просто говорят, они учатся «мыслить на иностранном языке»!</p>
<p>Русский или украинский языки используются только на начальных уровнях для объяснения французской грамматики и фонетики. Изучение французского ведется по учебным материалам Campus, издательства CLE International.</p>
<br />
<h1>Для детей и подростков</h1>
<h2>Французский язык для детей от 6 лет:</h2>
<p>Учиться&nbsp;- играя? Нет проблем! Французский для самых маленьких. Говорят, учиться никогда не поздно. Но никогда не рано и начинать! Весело, непринужденно, а главное&nbsp;&mdash; эффективно! В песнях, играх, танцах, непринужденной, дружеской атмосфере дети изучают этот красивый европейский язык.</p>
<p>Обучение проходит по новейшим методикам, которые позволят освоить чтение, письмо, восприятие речи на слух, а главное&nbsp;&mdash; обогатить словарный запас и обрести&nbsp; уверенность в говорении и правильное произношение. Ребенок откроет новые горизонты знаний и найдет много друзей! Предлагается обучение по учебникам Alex et Zoé, издательства CLE International.</p>
<br />
<h1>Бизнес курс</h1>
<p>Курс делового французского языка в языковой школе рассчитан на изучающих  французский язык с нуля , желающих использовать французский язык в сфере специального, профессионального общения.</p>
<p>Данный курс поможет Вам развить не только навыки делового французского языка, но также ставит своей целью приобретение профессиональных навыков.</p>
<p>После прохождения делового курса французского языка слушатели смогут с легкостью общаться практических во всех ситуациях делового общения.</p>
<p>Программа делового французского языка включает в себя элементы общего курса французского языка, так как затрагивает все аспекты изучение французского языка: грамматику, лексику, разговорный язык, аудирование, чтение и письмо. Главная особенность курса состоит в том, что все языковые навыки отрабатываются на примерах, ситуациях, ролевых играх, литературе, связанные с бизнес-тематикой.</p>
<p>При обучении на деловом курсе французского языка большое внимание уделяется изучению деловой лексики, отработке специфического словарного запаса, дискуссиям и обсуждениям, имитирующим реальные ситуации ведения бизнеса.</p>
<p>Изучаются принципы составления различных документов, правила общения на различных профессиональных уровнях. На занятиях используются современные аутентичные документы, а также книги о ведении бизнеса. Учебные материалы к данному курсу: Français.com и Affaires.com, издательства CLE International.</p>
<h1>DELF/DALF</h1>
<p>Наш центр иностранных языков «Альбион» предлагает подготовку к международным экзаменам по французскому языку DALF и DELF, которые разработаны с целью оценки коммуникативных навыков в каждодневном бытовом общении и отличаются друг от друга лишь по уровню сложности.</p>
<p>Эти экзамены официально признаны Министерством образования Франции и Европейским Советом иностранных языков. Если Вы собрались поступать в один из французских вузов или хотите устроиться на работу во Франции, то Вам необходимо их сдавать.</p>
<p>Они ценятся работодателями не только во Франции, но и в других странах Европы. Обучение в нашем центре проводят высококвалифицированные преподаватели высших учебных заведений, имеющие опыт подготовки студентов к сдаче данных экзаменов и знакомые с их форматами и последними изменениями.</p>
<br />
<h2>DELF (Diplome d’études en langue française)</h2>
<p>Общий языковой экзамен, который подразумевает базовый уровень владения языком.</p>
<br />
<h2>DALF (Diplome Approfondi de Langue Française)</h2>
<p>Для успешной сдачи этого экзамена необходимо иметь продвинутый уровень. Диплом DALF выдается пожизненно.</p>