@{
    ViewBag.Title = "German - Немецкий язык в языковой школе English Albion";
}
<div class="text-center">
    <img src="~/Content/images/other/courses.jpg" />
</div>
<h1 style="color: #0026ff">Немецкий язык</h1>
<p>Немецкий язык – один из основных языков мира и самый распространенный язык в Европейском Союзе. Он также является официальным языком Германии, Австрии, Бельгии, Швейцарии и Люксембурга, на нем говорят в Канаде, США, Российской Федерации и некоторых странах Южной Америки.
Без сомнения, у каждого изучающего немецкий язык есть свои на это причины - кому-то это нужно для работы, кто-то хочет в будущем уехать в Германию, а некоторые просто получают огромное удовольствие от самого процесса изучения.</p>
<h2 style="color: #0026ff">Почему стоить изучать немецкий язык? </h2>
 <div class="list-group">
     <a class="list-group-item active">10 причин</a>
     <a class="list-group-item"><span class="badge">1.</span>	<b>В бизнесе / в деловой жизни:</b> Общение на немецком языке с Вашими немецкоговорящими деловыми партнерами позволит улучшить партнерские отношения, повысить шансы для эффективного взаимопонимания – и тем самым приведет к успеху.</a>
     <a class="list-group-item"><span class="badge">2.</span>	<b>Глобальная карьера:</b> Со знаниями немецкого языка Вы повысите Ваши шансы оптимизировать свой профессиональный/карьерный рост в немецких фирмах, работающих на территории Российской Федерации, а также и на территории других странах мира. Хорошие знания немецкого языка сделают Вас продуктивным сотрудником/сотрудницей для работодателя с международными деловыми связями.</a>
     <a class="list-group-item"><span class="badge">3.</span>	<b>Туризм и гостиничный бизнес:</b> Туристы из немецкоговорящих стран путешествуют по всему миру, в том числе они с удовольствием посещают Россию. Во время отпуска туристы тратят немалые средства и предпочитают быть обслуженными персоналом и экскурсоводами, говорящими на немецком языке.</a>
     <a class="list-group-item"><span class="badge">4.</span>	<b>Наука и научные исследования:</b> Немецкий язык – второй по важности язык в мире науки. Германия занимает третье место в мире по финансированию научных исследований и вкладу в развитие науки и ежегодно предоставляет разнообразные стипендии студентам и молодым ученым из-за рубежа, в том числе и России.</a>
     <a class="list-group-item"><span class="badge">5.</span>	<b>Коммуникация:</b> Развитие на сегодняшний день медийных, информационных и коммуникационных технологий делают мультилингвальную коммуникацию востребованной. Целый ряд важнейших web-сайтов предоставляет информацию на немецком языке. Каждая десятая книга издается на немецком. Знания немецкого языка открывают широкий доступ к различной информации.</a>
     <a class="list-group-item"><span class="badge">6.</span>	<b>Культурное взаимопонимание:</b> Изучать немецкий - означает получить возможность увидеть/понять и принять жизнь, желания и мечты людей из немецкоговорящих стран с их поликультурном сообществом.</a>
     <a class="list-group-item"><span class="badge">7.</span>	<b>Путешествия:</b> Знания немецкого позволяют расширить список стран, которые можно посетить и тем самым обогатить свои путевые заметки не только о немецкоговорящих странах, но и других странах Европы.</a>
     <a class="list-group-item"><span class="badge">8.</span>	<b>Удовольствие от литературы, музыки, искусства и философии:</b> Немецкий язык – язык Гете, Кафки, Моцарта, Баха и Бетховена. Вы получите настоящее наслаждение от чтения и/или прослушивания их произведений в оригинале.</a>
     <a class="list-group-item"><span class="badge">9.</span>	<b>Возможности обучения и работы в Германии:</b> Германия предлагает большое количество стипендий для обучения в различных вузах страны. Для молодых людей из-за рубежа предусмотрены специальные туристические визы с разрешением на работу, а для представителей некоторых профессий имеются специальные разрешения на выполнение определенных работ.</a>
     <a class="list-group-item"><span class="badge">10.</span>	<b>Программы обмена:</b> Между Германией и многими странами мира, в том числе и с Российской Федерацией, заключены соглашения по школьным и студенческим обменам</a>


 </div>





<h2 style="color:#0026ff"><b>Для взрослых</b></h2> 
<p>Для тех, кто никуда не спешит и хочет изучить язык глубже, мы предлагаем курс, состоящий из 4 уровней (от А1 до В2). Такой курс особенно подойдет студентам и взрослым людям. </p>
<p>В основе преподавания – коммуникативная методика, так как, на наш взгляд, она полноценно и комплексно способствует изучению языка. На занятиях особое внимание уделяется работе над произношением, наработке достаточного словарного запаса и, конечно же, грамматике. Мы не ставим за цель вызубрить десятки грамматических правил, а стремимся научить Вас применять язык на практике.</p>
<p>Для того чтобы обучение было максимально полезным, студенты работают в группах до 6 человек. Обучение начинается после  предварительного тестирования по определению уровня владения языком.</p>
<h3><b><u>Программа курса:</u></b></h3>
<ul>
    <li>Продолжительность курса – 4 месяца (групповые занятия) и 3 месяца (индивидуальные занятия)
</li>
    <li>Занятия 2 раза в неделю по 1 часу 20 минут</li>
    <li>Уровни обучения: A1, A2, B1, B2</li>
    <li>Бесплатные разговорные клубы</li>
</ul>
<div class="pull-right"><img src="~/Content/images/other/images.jpeg" /></div>
<h3 style="color:#0026ff"><b><u>ДЕТЯМ И ПОДРОСТКАМ</u></b></h3>
<p>Мы создаем для Ваших детей лучшие программы обучения! Высококвалифицированные, энергичные, творческие преподаватели школы идеально знают немецкий язык, тонко налаживают контакт с ребятами, проводят каждое занятие интересно и увлекательно.</p>
<p>Обучение немецкому языку в ALBION дает преимущество Вашему ребенку перед сверстниками – обучение, проводимое специалистами в области языкового образования, расширяет кругозор, помогает преодолеть языковой барьер. Помимо практической пользы, дети и подростки получают удовольствие и радость, посещая наши занятия. Единая учебная программа обеспечивает высокое качество обучения.</p>
<p>Начав обучение на курсах немецкого для детей и подростков с «нулевого» уровня, завершить можно подготовкой к международным экзаменам.</p>
<p><b>Общий курс (9-16 лет)</b> – основан на изучении новой грамматики, расширении словарного запаса и изучения правописания.  Занятия строятся с использованием коммуникативной методики. Отработка языкового материала ведется по всем аспектам владения иностранным языком, но приоритетным является совершенствование навыков устного общения на немецком языке.</p>

<h2 style="color:#0026ff;">Курс подготовки к международным экзаменам по немецкому языку для старших подростков.</h2>
<p>Если Ваш ребенок владеет немецким языком на достаточно высоком уровне, и Вы хотите приобрести документальное подтверждение его знаний – международный сертификат, то мы поможем подростку подготовиться к соответствующим экзаменам. В процессе обучения изучаются все аспекты экзаменационных заданий, занятия проводятся в формате соответствующего экзамена.</p>
<p>Наличие сертификата является свидетельством знаний Вашего ребенка при поступлении в иностранный университет, некоторые из сертификатов освобождают от сдачи вступительного экзамена по немецкому языку при поступлении в европейские учебные заведения.</p>
<h3><b>Форма обучения:</b> индивидуальные занятия.</h3>
<h3><b>Длительность занятия:</b> 60 минут. Занятия для детей и подростков проводятся 2-3 раза в неделю.</h3>
<ul>
    <li>Бесплатное тестирование</li>
    <li>Бесплатное первое занятие</li>
    <li>Бесплатные разговорные клубы</li>
    </ul>

