@{
    ViewBag.Title = "IntTraining";
}
<div class="sticker" style="width: 1000px; margin: 0px 30px; background-color: #fff;">
    <ul class="nav nav-pills nav-justified">
    <li class="active"><a href="#VNO">@ViewBag.VNO</a></li>
    <li class=""><a href="#TOEFL">@ViewBag.TOEFL</a></li>
</ul>
    
</div>
<a id="VNO"></a>

<hr class="featurette-divider">

<div class="lead featurette" >
    <div class="text-center">
        <img src="~/Content/images/main/vno_long.jpg" />
    </div>
    <h2>@ViewBag.VNO</h2>
    <h3 class="text-muted">Информационный центр «Альбион» — это подготовительные учебные курсы к поступлению в высшие учебные заведения. Мы предоставляем дополнительное образование школьникам.</h3>
    <p>Длительность урока 1 час 30 мин. Стоимость обучения от 40 гривен в час.</p>
    <div class=" panel panel-danger">
        <div class="panel-heading">
<h2 class="panel-title" style="font-size: 21px !important">Мы занимаемся подготовкой по основным учебным направлениям:</h2>
</div>
<div class="list-group panel-body">
        
        <a class="list-group-item">математика</a>
        <a class="list-group-item">физика</a>
        <a class="list-group-item">украинский язык и литература</a>
        <a class="list-group-item">английский язык</a>
        <a class="list-group-item">история</a>
        <a class="list-group-item">биология</a>
        <a class="list-group-item">химия</a>
        <a class="list-group-item">география</a>
    </div>
    </div>

    <h3>Наша задача: <span class="text-muted">усовершенствование уровня знаний школьной программы и подготовка ко вступлению в ВУЗ в соответствии с современными требованиями.</span></h3>
    <p>Самые мудрые родители понимают, что одного-двух месяцев подготовки накануне
        <abbr title="внешнего независимого оценивания ">(ЗНО)</abbr>
        недостаточно  для успешной сдачи тестирования, поэтому:</p>
    <p>
        Информационный Центр «Альбион» предлагает подготовить Ваших детей к сдаче выпускных тестов.
    <p>Наши преподаватели имеют опыт подготовки учеников к тестам, знают методику преподавания. Таким образом, ученик после подготовки в нашем центре будет готов к сдаче экзамена на 100%.Занятия проводяться в мини-группах от 5−8 чел. Такие группы позволяют эффективно распределить время занятий, а также использовать индивидуальный подход.</p>
    <p>Накануне начала занятий группы, приглашаются родители на собрание, где обсуждаются и решаются вопросы, интересующие учеников и родителей,в дальнейшем связь с родителями поддерживается по их или по нашей инициативе, в зависимости от обстоятельств. Родители приходят, чтобы в личном контакте с директором или преподавателем обсудить возникшие проблемы или узнать об успешности ребенка.</p>
    <p><span class="glyphicon glyphicon-bullhorn"></span>Расписание будет корректироваться вместе с родителями перед началом занятий!</p>
    <p>
        Абитуриенты должны хорошо владеть знанием предмета и уметь их правильно применять в том формате вопросов, который предлагается.
    Вопросы и задания «тестов» будут меняться, возможно, существенно. НО знание предмета и тренинг создают уверенность, необходимую для того, чтобы ученик-абитуриент не растерялся, сумел показать знание предмета при любой форме задания.
    </p>
    <p>Первый этап в подготовке — это выявление проблемных зон и «пробелов» в знаниях абитуриента. Для этого школьнику предлагается пройти тест, который является кратким аналогом теста независимого оценивания.</p>
    <p>После чего преподаватель составляет план подготовки — на что нужно обратить больше внимания, что повторить, доучить.</p>
    <p>Каждое занятие — это как мини-тест и программа построена по принципу от простого к сложному. Таким образом к сдаче тестирования школьники подходят с необходимым багажом знаний.</p>
    <p>Дружелюбная атмосфера занятий, материалы, интересные для подростков, творческий подход и профессионализм преподавателей — все это способствует лёгкому процессу усвоения материла, школьники совершенно не переутомляются и не скучают.</p>
    <p>Мы набираем группы в августе!  1 октября первый урок.</p>
    <p>Кол-во человек в группе 4−8.</p>
    <p><span class="glyphicon glyphicon-calendar"></span>График занятий- два раза в неделю ( возможен интенсив).</p>
    <p>Одно занятие длится 90 минут. </p>
</div>
<a id="TOEFL"></a>
<hr class="featurette-divider">
<div class="text-right"><img src="~/Content/images/main/wordle_TOEFL.png" /></div>

<div class="lead featurette" id="">
    <h2 >
        <abbr title="Test of English as a Foreign Language">TOEFL</abbr></h2>
    <p>TOEFL, то есть Test of English as a Foreign Language («Тест по английскому как иностранному») — это международный экзамен, который был создан и курируется американской компанией под названием Educational Testing Service (ETS). ETS — негосударственная некоммерческая организация, находящаяся в городе Принстонн, штат Нью-Джерси.</p>
    <p>Основная цель TOEFL — оценить уровень профессионального владения английским языком иностранных студентов, желающих учиться в США, Канаде, а также большинству ВУЗов Австралии.  Предоставление результатов TOEFL является необходимым условием для поступления более чем в 2400 колледжей и университетов США, Канады и некоторых других стран.  </p>
    <h3 class="text-muted">КАКОВА СТРУКТУРА TOEFL?</h3>
    <div class="list-group">
        <a class="list-group-item active">Тест состоит из четырех частей, или блоков:  </a>
        <a class="list-group-item"><span class="badge">1</span><h3 class="list-group-item-heading">Listening Comprehension (Аудирование) — прослушивание живого английского.</h3>
            <p class="list-group-item-text">Здесь в первую очередь оценивается понимание основной идеи, важных деталей, выводов прослушанного отрывка. Вопросы, которые будет задавать программа, можно как слышать, так и видеть на мониторе.</p>
        </a>
        <a class="list-group-item"><span class="badge">2</span><h3 class="list-group-item-heading">Structure and Written Expression (структура). </h3>
            <p class="list-group-item-text">В данном разделе проверяется ваше знание грамматики.</p>
            <p class="list-group-item-text">Раздел состоит из вопросов двух типов: окончить предложение и исправить ошибку. В вопросе на завершение предложения вы увидите неполное предложение. Вам будут предложены четыре варианта ответов после каждого предложения. Ваша задача — выбрать тот, который наилучшим образом дополняет предложение. В вопросе на исправление ошибки вы увидите предложение, в котором некоторые части будут подчеркнуты. Подчеркнутые части будут помечены как A, B, C и D. Вам необходимо выбрать ту часть, которую необходимо переставить в предложении, чтобы оно стало правильным. Каждое предложение будет содержать только одну подчеркнутую часть, требующую перестановки. </p>
        </a>
        <a class="list-group-item"><span class="badge">3</span>
            <h3 class="list-group-item-heading">Reading Comprehension (чтение).</h3>
            <p class="list-group-item-text">
                Этот раздел предназначен для проверки навыков понимания текстов научной тематики. Однако не пугайтесь, от вас требуется не блеснуть эрудицией, а всего лишь понять смысл. Данный раздел включает два типа вопросов: словарные и на понимание прочитанного.
В словарном вопросе вам будет предложено предложение, в котором одно слово или фраза будет подчеркнуто. Вам предстоит выбрать ответ, который наилучшим образом сохраняет смысл исходного предложения.
В задании на понимание прочитанного вам будут предложены 5 или 6 отрывков текста с последующими к ним вопросами.
            </p>

        </a>
        <a class="list-group-item"><span class="badge">4</span><h3 class="list-group-item-heading">TWE — Test of Written English (сочинение на английском языке).</h3>
            <p class="list-group-item-text">На выбор предлагаются различные темы сочинений. Писать можно от руки и на компьютере, но придется обойтись без вмешательства техники. Здесь все зависит только от вашей фантазии и, конечно же, от знания стилистики и грамматики. </p>
        </a>
    </div>
</div>
