@{
    ViewBag.Title = "OurClasses";
}
<div class="lead">
<h2>Что важно знать о наших занятиях:</h2>
<p>
Процесс обучения у нас не ограничивается КЛАССНЫМИ занятиями. Стремясь не только дать качественные знания, но и 
создать максимально приятную и дружественную атмосферу, мы проводим множество ВНЕклассных мероприятий, в 
соответствии с интересами и желаниями наших студентов. Например, мы практикуем совместные пикники, экскурсии и
просмотр художественных фильмов на английском языке, что дает Вам возможность не просто приятно провести время, 
но и улучшить Ваши знания.</p>
<p>Наши преподаватели – профессиональны, энергичны и креативны. Благодаря этому все занятия в «Альбионе» интересны и эффективны.
Индивидуальный подход к каждому студенту! Количество студентов в группе – 5-8 человек!
Если же занятия попадают на праздничные дни- обязательно занятие будет 
перенесено на другой непраздничный день.</p>

<h2>Из чего состоят занятия</h2>
<h3 class="text-muted">Интенсивная разговорная практика</h3>
<p>Мы предлагаем Вам задания, моделирующие ситуации реальной жизни (например, поездка за границу, нахождение компромисса в разных жизненных ситуациях,  планирование мероприятия, подготовка презентации, прохождение собеседования ). Это позволяет еще и еще раз вернуться к ранее пройденному материалу и, что более важно, ориентироваться на Ваши реальные индивидуальные языковые проблемы. Также мы стараемся мотивировать Вас к 100% использованию изучаемого языка на занятии.<</p>
<h3 class="text-muted">Грамматика</h3>
<p>Мы стремимся к тому, чтобы Вы чувствовали логику языка, воспринимали грамматику как живую функциональную систему. Отработка грамматических структур в речи происходит в интересных игровых заданиях.</p>
<h3 class="text-muted">Активный словарный запас</h3>
<p>Качественная проработка словарного материала происходит уже на самих занятиях. Лексика не «зазубривается», а естественно усваивается. Задания апеллируют к Вашему собственному опыту. Курс включает в себя современные фразеологические обороты и идиомы, так что постепенно у Вас выстраивается богатый арсенал речевых клише и устойчивых словосочетаний.</p>
<h3 class="text-muted">Аудирование</h3>
<p>Программа обучения включает в себя работу над навыками понимания быстрой речи. Задания на аудирование помогают Вам развить способность «выхватывать» из потока речи ключевые слова, словосочетания, удерживать их в памяти и реконструировать высказывания на основе услышанных элементов.</p>
<h3 class="text-muted">Чтение</h3>
<p>Наш общий курс включает в себя работу над развитием навыков эффективного чтения. Под навыками эффективного чтения подразумевается способность определять основную мысль текста и умение находить ключевую информацию за ограниченное время.</p>
<h3 class="text-muted">Письмо</h3>
<p>Овладевая навыками письма, Вы учитесь редактировать собственный текст, логично и интересно излагать мысли в письменной форме, а также соблюдать международные стандарты оформления письменных документов.</p>
</div>
