@{
    ViewBag.Title = "OurMethods";
}
<div class="text-center">
    <img class="img-rounded" src="~/Content/images/main/top-adult.jpg" />
</div>
<div class="lead">
<h2>Мы предлагаем информационные, консультационные услуги по английскому</h2>
<p>Основная задача информационного центра - успех каждого! Поэтому в основе учебного процесса лежит индивидуальный подход. Преподаватели информационного центра корректируют программу обучение и уроки в соответствии с Вашими запросами. </p>
<p>Мы всё делаем для того, чтобы даже начав обучение "с нуля" Вы заговорили на выбранном языке или существенно углубили уже имеющиеся знания. Наши специалисты научат Вас грамотно общаться на иностранных языках в самых разных ситуациях - в быту, на деловых переговорах, научных конференциях, подготовят к сдаче языковых экзаменов. 
<p>За годы работы мы выяснили, что для успешного освоения иностранного языка необходимо задействовать слушателей во многих видах деятельности. Поэтому на наших занятиях студенты тренируются высказывать собственное мнение в монологе, диалоге, участвуют в ролевых играх, готовят собственные проекты и презентации. Мы учим не только говорить и писать, но и думать на языке! 
 <p>В учебном процессе используются аутентичные курсы, аудио- и видеоматериалы, уникальные программы, разработанные нашими преподавателями. </p>
<h2 class="text-muted">Для детей и подростков:</h2>
<p>Мы  обучаем детей и подростков в возрасте с 7 и до 15 лет. Наша программа обучения для детей носят комплексный, последовательный характер: Использование актуальных красочных, современных учебников, аудиокурсов, обучающих игр, сказок и видеокурсов мотивирует детей обучаться, превращает уроки в интересные и познавательные события. При средней нагрузке Вы заметите сдвиги в обучении Вашего ребенка уже после нескольких первых занятий. Ваши дети будут с радостью идти на уроки и охотно выполнять занимательные домашние задания. </p>
<p>Для старшеклассников мы будем активно использовать самые современные обучающие программы, игры, аудирование, видеосопровождение. </p>
<h2 class="text-muted">Для взрослых:</h2>
<p>Главный принцип нашей методики в том, что мы всегда создаем программу занятий под Ваши нужды.На занятиях мы будем использовать учебники и материалы, ведущего международного издательства: Longman Pearson. </p>
<p>Наша программа-современная методика, разработанная на основе учебников Longman и газеты Financial Times -известным в мире бизнеса издательством.</p> 
<p>Курс интересен и полезен тем, кто собирается или уже делает карьеру в бизнесе. </p>
<p>Вы научитесь вести переговоры, презентации, будете иметь навыки беседы по телефону, проводить и проходить интервью и собеседования, грамотно презентовать себя и свою компанию.</p>
    <h2>Наша методика</h2>
<p>Поскольку наша задача — не смаковать методологию, а выбрать реальный действенный и максимально эффективный способ познать инностранный язык, остановимся на трех методах: лексико-грамматическая методика, коммуникативный метод и метод физического реагирования. </p>
<p>Сегодня лексико-грамматическая методика развивает четыре основных языковых навыка: говорение, чтение, аудирование и письмо. Существенное внимание при этом уделяется разбору иностранных текстов, а также написанию сочинений и изложений. Преподаватели также добиваются, чтобы учащиеся усвоили логику и структуру изучаемого иностранного языка, понимали, в чем его сходство и различия с их родным языком.</p>
<p>Коммуникативный метод обучения иностранным языкам сегодня является одним из самых популярных в мире. Многие считают его самым прогрессивным и самым эффективным... Одним из основных приемов коммуникативного метода является имитация ситуаций из реальной жизни, призванных стимулировать учащихся к активному «говорению». При этом очень важно, чтобы темы были животрепещущими, связанными с повседневной жизнью студентов, проблемами, их занимающими.</p>
<p>Еще один интересный метод физического реагирования — «Total-physical response». В его основе лежит утверждение, гласящее, что нельзя понять то, что ты не пропустил через себя. Начинается всё с изучения слов, означающих физические движения. Так например, когда изучают слово «встать», все встают, «сесть» — садятся, и так далее. И только потом, когда студент накопил довольно много информации (сначала слушал, потом двигался), он становится готов к тому, чтобы начать говорить. Хорош этот метод прежде всего тем, что студент в процессе обучения ощущает себя очень комфортно.</p>
<p>Необходимый эффект достигается за счет того, что всю получаемую информацию человек пропускает через себя. Немаловажно также то, что в процессе изучения языка по данному методу студенты общаются (прямо или косвенно) не только с преподавателем, но и между собой.</p>
<p> На наших уроках преподаватель максимально общается на английском языке на всех уровнях.</p>
    </div>


