@{
    ViewBag.Title = "Photo";
}

<h2>Наши занятия.</h2>
<div class="row">
    <div class="row">
        <div class="col-md-3">
            <img class="ui-corner-all" src="~/Content/images/photo/110_0039-300x225.jpg" />
        </div>
        <div class="col-md-3">
            <img class="ui-corner-all" src="~/Content/images/photo/110_00442-300x225.jpg" />
        </div>
        <div class="col-md-3">
            <img class="ui-corner-all" src="~/Content/images/photo/110_00821-300x225.jpg" />
        </div>
    </div>
    <div class="row">
        <br />
    </div>
    <div class="row">
        <div class="col-md-2">
            <img class="ui-corner-all" src="~/Content/images/photo/44image.jpeg" />
        </div>
        <div class="col-md-2">
            <img class="ui-corner-all" src="~/Content/images/photo/i6ge.jpeg" />
        </div>
        <div class="col-md-2">
            <img class="ui-corner-all" src="~/Content/images/photo/im34age.jpeg" />
        </div>
    </div>
</div>
<h2>Так мы отдыхаем.</h2>
<div class="row">
    <div class="row">
        <div class="col-md-3">
            <img class="ui-corner-all" src="~/Content/images/photo/IMG_24282.jpg" /></div>
        <div class="col-md-3">
            <img class="ui-corner-all" src="~/Content/images/photo/IMG_24523.jpg" /></div>
        <div class="col-md-6">
            <img class="ui-corner-all" src="~/Content/images/photo/IMG_2438.JPG" width="550" /></div>
    </div>
    <div class="row">
        <br />
    </div>
    <div class="row">
        <div class="col-md-6"><img width="600" class="ui-corner-all" src="~/Content/images/photo/IMG_2545.JPG" /></div>
        <div class="col-md-6"><img width="500" class="ui-corner-all" src="~/Content/images/photo/100_0942.JPG" /></div>
    </div>
</div>
