@{
    ViewBag.Title = "Летний интенсив";
}
<div class="text-center">
    <img class="img-rounded" src="~/Content/images/main/top-training.jpg" />
</div>
<h2>@ViewBag.Title</h2>
<div class="lead">
<h3 class="text-muted"> Летние программы для детей</h3>
<p>Летом для наших деток возрастом от 8−16 лет мы организовываем поездки в Великобританию, Европу, Крым с преподавателями центра «Альбион». Уникальность состоит в том, что дети 8 — 16 лет не только великолепно отдыхают и весело проводят время, а еще изучают английский язык с преподавателями. По данным программам дети занимаются английским каждый день по 1 часу и  практикуют разговорный английский в свободное время.</p>
<p>Благодаря данным программам дети заводят новых друзей, узнают много о других странах и городах, развивают свои навыки благодаря спортивным занятиям, дебатам, конкурсам по развитию лидерства. А также все смогут весело отдохнуть!</p>
<p>Наша цель — научить детей общению и живому современному английскому языку. Летняя программа на 2011 год будет оговариваться с родителями в апреле месяце. Мы постараемся выполнить все Ваши пожелания.</p>
</div>