@{
    ViewBag.Title = "Корпоративное обучение";
}
<div class="text-center">
<img class="img-rounded" src="~/Content/images/main/top-advantages.jpg" />
    </div>
<h2>@ViewBag.Title</h2>
<div class="lead">
<p>Для того, чтобы сохранить конкурентоспособность предприятия на рынке все большее значение приобретает квалификация Вашего персонала. Важным требованием рынка становится знание инностранных языков.</p>
<p>Мы предлагаем обучение сотрудников Вашей компании даже с нулевого уровня, по наиболее интенсивной схеме.</p>
<p>Методический материал индивидуален и подбирается согласно специфике работы именно Вашей фирмы.</p>
<p>У нас работают квалифицированные преподаватели, в том числе и преподаватели из стран изучаемого языка, проводят обучение на высоком уровне.</p>
<p>Наш преподаватель приедет к Вам в офис и проведет бесплатное тестирование для определения уровня владения языком; </p>
<p>Первый пробный урок-презентация (знакомство с методикой, стилем проведения занятий, утверждение программы обучения, подписание договора);</p>
<p>Вы сможете отслеживать качество обучения, прогресс своих сотрудников, посещаемость, что в свою очередь также обеспечивает более качественный результат;</p>
<div class="list-group">
<a class="list-group-item active">Форма обучения:</a>
<a class="list-group-item">Индивидуальные занятия</a>
<a class="list-group-item">Групповые занятия (от 2-х до 10 человек в группе)</a>
</div>
<div class="list-group">
<a class="list-group-item active">Интенсивность обучения:</a>
<a class="list-group-item"> От 2-х раз в неделю   </a>
</div>
<div class="list-group">
    <a class="list-group-item active"> Длительность занятия:</a>
    <a class="list-group-item">Индивидуальные занятия — 60минут</a>
    <a class="list-group-item">Групповые занятия — 90минут</a>
</div>
<div class="list-group">
 <a class="list-group-item active">Стоимость обучения:</a>
<a class="list-group-item">При определении стоимости обучения учитывается программа, форма и интенсивность обучения.</a>
</div>
    </div>