@model KeyValuePair<string, IEnumerable<KeyValuePair<char, string>>>

<div>

    <ul class="list-group">
    @foreach (var item in Model.Value) { 
        
        <li class="list-group-item">
            @item.Key - <span>@item.Value</span> <input data-group="@Model.Key" type="checkbox" value="@item.Value"/>
        </li>
        
        
    }
        </ul>
</div>