<div class="row">
    <div class="col-md-2 pull-left"><a href="#starter"><img src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover-starter-small.png" title=""></img></a></div>
    <div class="col-md-2 pull-left"><a href="#elementary"><img src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover-elem-small-hover.png" title=""></img></a></div>
    <div class="col-md-2 pull-left"><a href="#pre-intermediate"><img src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover-preint-small-hover.png" title=""></img></a></div>
    <div class="col-md-2 pull-left"><a href="#intermediate"><img src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover-int-small.png" title=""></img></a></div>
    <div class="col-md-2 pull-left"><a href="#upper-intermediate"><img src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover-uppint-small-hover.png" title=""></img></a></div>
    <div class="col-md-2 pull-left"><a href="#advanced"><img src="https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/cover-advanced-small-hover.png" title=""></img></a></div>
    

</div>
