body {
}
.logo {
    display: block;
    margin-left: 15px;
    margin-top: 5px;
    position: absolute;
    z-index: 100;
}
 .ui-tooltip, .arrow:after {
background: black;
border: 2px solid white;
}
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 7px black;
    box-shadow: 0 0 7px black;
}
.arrow {
width: 70px;
height: 16px;
overflow: hidden;
position: absolute;
left: 50%;
margin-left: -35px;
bottom: -16px;
}
.arrow.top {
top: -16px;
bottom: auto;
}
.arrow.left {
left: 20%;
}
    .arrow:after {
        content: "";
        position: absolute;
        left: 20px;
        top: -20px;
        width: 25px;
        height: 25px;
        -webkit-box-shadow: 6px 5px 9px -9px black;
        box-shadow: 6px 5px 9px -9px black;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        tranform: rotate(45deg);
    }
.arrow.top:after {
bottom: -20px;
top: auto;
}
        .floating {
            padding: 8px;
            width: auto; /*указываем ширину*/
        }

        .fixed {
            position: fixed;
            left: 43%;
            bottom: 15px; /*здесь указываем отступ сверху*/
            z-index: 9999; /*устанавливаем блок поверх всех элементов на странице*/
        }

        .snow {
            z-index: 99;
            width: 65px;
            height: 65px;
            
        }

        #snow1 {
            animation: anim1 50s;
            webkit-animation: anim1 50s; /* Safari and Chrome */
            position: absolute;
            left: 5%;
            
            background: url("https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/images/snowflakes.jpg") -306px -266px no-repeat;
        }

        #snow2 {
            animation: anim1 52s;
            webkit-animation: anim1 52s; /* Safari and Chrome */
            position: absolute;
            left: 10%;
            background: url("https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/images/snowflakes.jpg") -434px -262px no-repeat;
        }
        #snow3 {
            animation: anim1 53s;
            webkit-animation: anim1 53s; /* Safari and Chrome */
            position: absolute;
            left: 20%;
            background: url("https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/images/snowflakes.jpg") -431px -136px no-repeat;
        }
        #snow4 {
            animation: anim1 54s;
            webkit-animation: anim1 54s; /* Safari and Chrome */
            position: absolute;
            right: 5%;
            background: url("https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/images/snowflakes.jpg") -371px -5px no-repeat;
        }
        #snow5 {
            animation: anim1 55s;
            webkit-animation: anim1 55s; /* Safari and Chrome */
            position: absolute;
            right: 10%;
            background: url("https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/images/snowflakes.jpg") -371px -70px no-repeat;
        }
        #snow6 {
            animation: anim1 56s;
            webkit-animation: anim1 56s; /* Safari and Chrome */
            position: absolute;
            right: 12%;
            background: url("https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/images/snowflakes.jpg") -371px -134px no-repeat;
        }

        #snow7 {
            animation: anim1 57s;
            webkit-animation: anim1 57s; /* Safari and Chrome */
            position: absolute;
            right: 20%;
            background: url("https://googledrive.com/host/0B2nIyMekjWaIVmpxUDdlWG9NaWc/images/snowflakes.jpg") -124px -132px no-repeat;
        }


        @keyframes anim1 {
            from {
                top: 10px;
            }

            to {
                top: 1024px;
            }
        }

        @webkit-keyframes anim1 /* Safari and Chrome */
        {
            from {
                top: 10 px;
            }

            to {
                top: 1024px;
            }
        }
		